body {
    max-width: 780px;
    margin: auto;
    border-radius: 25px;
}

header {
    background-color: rgb(30, 30, 30);
    padding: 10px 25px 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 2px solid rgb(90, 90, 90);
}

.inputNumbers {
    display: flex;
    align-items: center;

}

main {
    background-color: rgb(60, 60, 60);
    padding: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #a4ff00;
}

label {
    color: #a4ff00;
}

p {
    color: #6980d6;
    margin: 0;
}

#calculateButton {
    background-color: #a4ff00;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.calculus {
    width: 240px;
    border: 1px solid rgb(30, 30, 30);
    padding: 5px 0 5px 10px;
}

.result {
    margin: 10px;
    color: white;
    font-size: 1.5em;
    background-color: black;
}